<div class="image-class"></div>
<app-navbar></app-navbar>

<app-messages></app-messages>
<footer class="py-3 my-4">
  <p class="text-center text-muted">Powered By Finhub.io</p>
</footer>
<!--<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>-->
<!--<mat-tab-group mat-align-tabs="center">-->
<!--  <mat-tab label="First">Content 1</mat-tab>-->
<!--  <mat-tab label="Second">Content 2</mat-tab>-->
<!--  <mat-tab label="Third">Content 3</mat-tab>-->
<!--</mat-tab-group>-->

